.wrapper{
  width: 100%;
  padding: 30px;
  background-color: black;
  color: white;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border: 1px solid white;
  margin: 10px;
}

.right{
  border: 1px solid white;
  width: 400px;
  margin: 10px;
}
