.contactContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.contactLeft{
  border: 1px solid red;
  width: 500px;
}
.contactRight{
  border: 1px solid green;
  width: 500px;
}

.formItem {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}

.submit {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  width: fit-content;
  align-self: flex-end;
}

@media (max-size: 600px) {

  .contactLeft{
    width: 300px;
  }
  .contactRight{
    width: 300px;
  }

}
