.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  background-image: url('/images/future.png');
  background-size: cover;
  min-height: 100vh;
  height: fit-content;
  padding: 10px;
  /* background-position-y: -250px; */
}

.headerDescription{
  width: 80%;
  color: #666;

}

.headerLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left: 3vw;
  margin-top: 100px;
}

.headerLeft h1{
  font-size: 60px;
  line-height: 70px;
  margin: 0;
  color: #0070f3;
}

.headerButtons{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.headerButtons > * {
  margin: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}


.logo {
  height: 1em;
}

.securityBanner{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('/images/security.png');
  background-size:auto ;
  min-height: 70vh;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  color: white;
  align-items: center;
}

.securityBanner h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
}
.securityBanner p {
  width: 50%;
  color: #cbcbcb;
}
.securityBanner a {
  color: #0e0e0e;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .headerLeft h1{
    font-size: 50px;
  }

  .headerDescription{
    width: 100%;
  }
}
