.header{
  width: 100%;
  display: flex;
  background-image: url('/images/security.png');
  background-size: cover;
  min-height: 100vh;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  color: white;
  align-items: center;
}

.header h1{
  font-size: 50px;
}
